*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
h1{
    text-align: center;
    font-weight: 800;
}
.container{
    justify-content: center;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
.cards a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.cards{
    font-size: large;
    line-height: 1.5;
    margin: 20px;
    height: 350px;
    width: 400px;
    text-align: center;
    border-radius: 10px;
}
.card_image{
    border-radius: 10px;
    width: 100%;
    margin-bottom: 20px;
}
.footer{
    font-size: large;
    height: 50px;
    width: 100%;
    font-weight: bold;
    text-align: center;
  }